.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #617143
}

.Stext{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(92, 62, 50);
}
.text {
    color: rgb(92, 62, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.signup-form {
    background-color: #EDE9D5;
    padding: 2rem;
    border-radius: 10%;
    width: 90%;
    max-width: 400px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.btn-regist {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 25rem;
    width: 100%;
    background-color: #DF7857;
    color: white;
    outline: none;
   border:0;
}

.bg-light{
    color: blue;
    text-align: center;

}

